.injected-modal {
  width: 300px;
  max-width: 300px;
  padding: 5px;
  min-height: 300px;
  border-radius: 4px;
  border: solid 1px rgb(87, 164, 203);
  box-shadow: 0 6px 12px rgb(232, 232, 232);
  position: fixed;
  top: 10px;
  right: -9999px;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  backface-visibility: hidden;
  z-index: 999999;
  background-color: white;
}

@keyframes slide {
  0% {
    right: -9999px;
  }
  50% {
    right: 40px;
  }
  75% {
    right: 10px;
  }

  100% {
    right: 20px;
  }
}
