.injected-modal {
  width: 300px;
  max-width: 300px;
  padding: 10px;
  height: auto;
  max-height: 600px;
  border-radius: 4px;
  border: solid 1px rgb(192, 192, 192);
  box-shadow: 0 6px 12px rgb(128, 127, 127);
  position: fixed;
  top: 10px;
  right: -9999px;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  backface-visibility: hidden;
  z-index: 999999;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

.injected-modal a:hover {
  text-decoration: none;
}

a.synonym:hover {
  color: rgb(87, 164, 203);
  text-decoration: none;
}

a.antonym:hover {
  color: rgba(69, 163, 69, 0.8);
  text-decoration: none;
}

.get-synonyms-btn {
  width: 120px !important;
  text-align: center !important;
  display: block !important;
  margin: 14px auto !important;
  border: solid 1px rgb(87, 164, 203) !important;
  padding: 5px !important;
  border-radius: 4px !important;
  color: white !important;
  background-color: rgb(87, 164, 203) !important;
  font-size: 16px !important;
  cursor: pointer !important;
  text-decoration: none !important;
}

.get-synonyms-btn:hover,
.view-more:hover {
  color: white !important;
  box-shadow: 0 6px 12px rgb(232, 232, 232) !important;
  background-color: rgb(60, 155, 202) !important;
  transition: 0.3s !important;
}

.get-synonyms-btn:active,
.view-more:active {
  transform: translateY(2px) !important;
  box-shadow: none !important;
  transition: 0.3s !important;
}

.close-modal {
  float: right;
  font-size: 16px;
  color: rgb(192, 192, 192);
  cursor: pointer;
  padding-right: 5px;
}

.modal-logo {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 10px auto;
}

.synonym {
  width: auto !important;
  text-align: center !important;
  display: inline-block !important;
  margin: 10px auto !important;
  border: solid 1px rgb(87, 164, 203) !important;
  padding: 5px !important;
  margin: 5px !important;
  border-radius: 4px !important;
  color: rgb(87, 164, 203) !important;
  background-color: white !important;
  font-size: 16px !important;
  cursor: pointer !important;
  text-decoration: none !important;
}

.antonym {
  border: solid 1px rgba(69, 163, 69, 0.8) !important;
  color: rgba(69, 163, 69, 0.8) !important;
}

.synonym-title,
.antonym-title {
  font-weight: bold !important;
  padding-left: 5px !important;
  font-size: 12px !important;
}

.cs-synonym-input {
  font-family: inherit !important;
  color: inherit !important;
  padding: 15px !important;
  border-radius: 2px !important;
  font-size: 12px !important;
  background-color: rgb(255, 255, 255) !important;
  border: solid 0.5px rgb(232, 232, 232) !important;
  border-bottom: solid 3px transparent !important;
  width: 100% !important;
  display: block !important;
  transition: all 0.3s !important;
  box-shadow: 0 2px 2px rgb(232, 232, 232) !important;
}

.cs-synonym-input:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(143, 143, 143, 0.8);
  border-bottom: solid 3px rgb(87, 164, 203);
}

.view-more {
  width: 106px !important;
  text-align: center !important;
  display: block !important;
  margin: 14px auto !important;
  border: solid 1px rgb(87, 164, 203) !important;
  padding: 5px !important;
  border-radius: 4px !important;
  color: white !important;
  background-color: rgb(87, 164, 203) !important;
  font-size: 16px !important;
  cursor: pointer !important;
  text-decoration: none !important;
  margin-bottom: 20px !important;
}

.selected__word {
  font-weight: bold;
}

.selected__definition {
  font-style: italic;
  font-weight: 300;
}

.definition__container {
  padding-left: 5px;
  font-size: 12px;
}

.antonym-container {
  position:relative;
}
.powered-by {
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  bottom: -100px;
  right: -5px;
}

@keyframes slide {
  0% {
    right: -9999px;
  }
  50% {
    right: 40px;
  }
  75% {
    right: 10px;
  }

  100% {
    right: 20px;
  }
}
